.App {
  font-family: sans-serif;
  text-align: center;
}
.light {
  color: #687887;
}

.ticket-caption {
  .pb_caption_kit_md {
    color: #c1cdd6 !important;
  }
}

.ticket-system {
  width: 100% !important;
  .ticket-container {
    width: 100%;
    .ticket-flex-main-container {
      width: 20% !important;
      .ticket-table {
        width: 100% !important;
        .ticket-main-body {
          width: 100% !important;
          .header-container-a {
            height: 60px !important;
            .header-container-b {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              .header-container-c {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .header-caption {
                  width: 20% !important;
                }
              }
            }
          }
          .ticket-row {
            width: 100% !important;
            .ticket-data {
              padding-left: 0px !important;
              padding-right: 0px !important;
              width: 100% !important;

              .ticket-flex {
                align-items: center;
                width: 100% !important;
                .center-content {
                  display: flex;
                  text-align: start;
                  width: 50%;
                  .elipsis {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.stat-container {
  height: 275px;
  width: 275px;
  .stat-cards {
    align-self: center !important;
    flex-basis: 225px !important;
    display: flex !important;
    text-align: left;
    .icon-stat-value i {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .pb_caption_kit_md {
      color: #c1cdd6;
      text-transform: none;
    }
  }
}

.badge {
  .pb_flex_kit_orientation_row_justify_content_left_align_items_center_inline_spacing_none {
    align-items: flex-start !important;
  }
  .pb_body_kit_light {
    margin-right: 0px !important;
  }
  .pb_title_kit_4_link {
    background: rgba(0, 86, 207, 0.1);
    justify-content: center;
    border-radius: 4px;
    padding: 1px 4px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;

    // transform: translateY(1px);
    // display: inline-block;
    font-size: 11px !important;
    font-weight: 700 !important;
  }
}

.pipeline {
  width: 30vw;
  min-width: 320px;
  .title-container {
    height: 80px;
  }
}

[data-status="true"] {
  color: #00ca74;
}
[data-status="false"] {
  color: red;
}

.first-component {
  width: 100% !important;
  .light {
    color: #c1cdd6 !important;
  }
  .card {
    width: 100%;
  }

  .second-row {
    .performance-tab {
      width: 20%;
      margin: 0 -2px 0 0;
      .row-height {
        height: 7vh !important;
        .padding-tab {
          padding-right: 1vw !important;
          padding-left: 1vw !important;
        }
      }
    }
  }

  .graph-container {
    width: 81% !important;
    margin-top: -1px;
    #line-fixed-height {
      //   background-color: pink !important;
      //   height: 30vh;
      padding: 0 1px;
      //   width: 100% !important;
    }
  }
}

.xl-padding {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.border-meow-meow {
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #e4e8f0;
  border-top-color: rgb(228, 232, 240);
  border-right-color: rgb(228, 232, 240);
  border-bottom-color: rgb(228, 232, 240);
  border-left-color: rgb(228, 232, 240);
}
