.App {
  font-family: sans-serif;
  text-align: center;
}
.trending-section {
  width: 500px;
}

.override {
  height: 100px !important;
}

.ticket-header {
  height: 100%;
  width: 100%;
  align-items: center;
}

.ticket-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
